

.pagination{
    display: block;
    margin: auto;
    text-align: center;
    padding: 1.5rem 0 3rem 0;

    ul{
        display: none; 

        .ngx-pagination .current{
            display: none;
        }
    }
}