
@import "../../../styles.scss";

.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include box-shadow(0px, -2px, 11px, 0px,rgba(50, 50, 50, 0.75));

    .header-inner{
        @include flex();
        align-items: center;
        color: $base-color;

        a.logo{
            @include medium-font;
            @include no-underline();
            font-size: $logo-font-size * 0.55; 
            color: inherit;

            @include breakpoint($tablet){
                font-size: $logo-font-size * 0.7;
            }

            @include breakpoint($x-small-desktop){
                font-size: $logo-font-size - 0.8;
            }

            @include breakpoint($small-desktop){
                font-size: $logo-font-size - 0.5;
            }
            
        }

        .search-box-wrapper{
            margin-left: auto; 
        }
    }
}