@import "../../../styles.scss";

form.search-form{

    label{
        font-size: $base-font-size - 0.2;
        display: none;
    
        @include breakpoint($tablet){
            display: inline;
        }
    }
    
    input.search-bar{
        font-size: $base-font-size - 0.2;
        margin: 0 1.5rem;
        padding: 0.5rem 1rem;
        border: 0;
        border-bottom: 1px $light-gray solid;
    
        &:hover, &:focus{
            border-bottom: 1px darken($light-gray, 10%) solid;
            outline: 0;
        }
    }
    
}
